html, body {
	color: #fff;
	overflow-x: hidden;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	background-color: #000;
}

.title-wrapper {
	gap: 2;
	text-align: center;
}

.grid-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 75%;
}

.error {
	color: #ff0000;
}

input {
	height: 30px;
	width: 200px;
	padding: 0px 10px;
  border-radius: 10px;
  margin: 0px 10px;
}
